ul.head-menu{
    color:#fff
}
ul.head-menu li a{
    color:#fff;
    font-size:16px;
}
ul.head-menu li:hover a{
    color:#80b476;
    font-size:16px;
}
.top-menu {
padding: 0;
margin: 19px 5px 19px 0;
width:100%;
padding:0;
}
.top-menu ul{
    width: 100%;
    background-color: #80b476;
    display: none;
    padding: 0;
    margin: 0;    
    z-index: 2;
    position: absolute;
}
.top-menu ul li{
    padding: 0;
    margin: 0; 
    list-style: none;
}
.top-menu:hover ul{
    display: block;
} 
.top-menu  a{
 color: #fff;
 font-weight: bold;
 text-decoration: none;
 font-size: 13px; 
}
.top-menu  a span{
    padding: 0 10px;
}
.link_facilaty{
      margin: 0;
}
a.top-menu-link{
    width:100%;
    display: block;
}
a.header-logo{
color: #fff;
text-align: left;
display: table-cell;
vertical-align: middle;
}
a.header-logo img{
    margin-right: 10px;
}
a.header-logo span{
    font-size: 18px;
}
section.main-content{
    padding: 20px 0;
}
ul.left-side{
    padding: 0;
    margin: 0;
}
ul.left-side li{
    list-style: none;
    padding: 10px 5px 10px 18px ;
    margin: 0;
}
ul.left-side li a{
    text-decoration: none;
    color:#000;
    font-size: 15px;
}
ul.left-side li:hover {
    background-color: #91c789;
}
ul.left-side li:hover a{
    color:#fff;
}
footer{
    padding: 30px 0;
}
.footer-list h4{
    color:#fff;
}
.footer-list ul{
padding: 0;
margin: 0;
}
.footer-list ul li{
    list-style: none;
    padding: 5px 0;
}
.footer-list ul li a{
 color: #fff;
 font-size: 16px;
 text-decoration: none;
}
.footer-list ul li:hover a{
    text-decoration: underline;
   }
footer hr {
    color: #fff;
     border: 1px solid #fff;
}
ul.copyright-list {
 margin: 0;
 padding: 0;
 text-align: right;
}
ul.copyright-list li{
 display: inline-table;
 margin-left: 10px;
}
ul.copyright-list li a{
text-decoration: none;
font-size: 16px;
color: #fff;
}
p.copyright{
    color:#fff;
}
.news-list{
    margin-bottom: 25px;
}
.news-list p{
    margin: 15px 0;
    text-align: justify;
}
ul.creambs{
    padding: 0;
    margin: 0 0 10px;
}
ul.creambs li{ 
    display: inline-table;
    list-style: none;
}
ul.creambs li::after{
    content: " /";
    color: #80b476;
    font-size: 14px;
}
ul.creambs li:last-child::after{
    content: " ";
}
ul.creambs li a{
    text-decoration: none;
    font-size: 14px;
    color:#80b476;
}
ul.creambs-top{
    margin: 0;
    padding:0;
}
ul.creambs-top li{
    list-style: none;
    display: inline-table;
}
ul.creambs-top li::after{
    content: " /";
    color:rgb(214, 214, 214);
}
ul.creambs-top li:last-child::after{
    content: "";
}
ul.creambs-top li span.link_facilaty a{
    color:rgb(214, 214, 214);
    text-decoration: none;
    font-size: 14px;
    }
ul.creambs-top li:first-child span.link_facilaty a{
        color:#fff;
        text-decoration: none;
        font-size: 14px;
        }    
ul.creambs-top li:hover span.link_facilaty a{
    text-decoration: underline;
    }
ul.about-news{
    padding: 0;
    margin: 10px 0;
}
ul.about-news li{
    list-style: none;
    display: inline-table;
    margin-right: 10px;
}
ul.about-news li span{
    color: rgb(116, 116, 116);
}
.btn-primary {
    color: #fff;
    background-color: #91c789;
    border-color: #91c789;
}
.btn-primary:hover {
    color: #fff;
    background-color: #80b476;
    border-color: #80b476;
}
.btn-primary:active {
    color: #fff;
    background-color: #91c789;
    border-color: #91c789;
}
.btn-primary:focus
{
background-color: #80b476;
border-color: #80b476;
box-shadow: 0 0 0 .25rem rgba(17, 252, 95, 0.479);
}